.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.form__btn {
    margin-top: 20px;
    background-color: gray;
    width: 150px;
    height: 60px;
    color: white;
    font-weight: 600;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
}

.field {
    width: 350px;
    height: 35px;
    border-radius: 5px;
}

.errors__msg {
    color: red;
}